[data-md-color-scheme="solarized"] {
  --md-primary-fg-color:        #161616;
  --md-primary-bg-color: red;
  --md-primary-fg-color--light: #002B36;
  --md-primary-fg-color--dark:  #002B36;
}

.md-ellipsis {
  --md-text-font-family: "Allison"; 
}


