[data-md-color-scheme="solarized"] {
  --md-primary-fg-color:        #161616;
  --md-primary-bg-color: red;
  --md-primary-fg-color--light: #002B36;
  --md-primary-fg-color--dark:  #002B36;
}


/*
#featured-slider #wrap {
	overflow-x: scroll;
	overflow: -moz-scrollbars-horizontal;
	width: auto;
	height: auto;
}
*/

/*
iframe {
  width: 100% !important;
  height: 100% !important;
}
*/


.md-content{
  box-shadow: 0 0 0.2rem rgb(0 0 0 / 10%), 0 0.2rem 0.4rem rgb(0 0 0 / 20%);
}


.md-footer__inner {
    padding: 0;
}
html {
    font-size: 120%;
}
.md-main__inner {
    margin-top: 0rem;
}
.md-grid {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}



/*
.md-ellipsis {
  font-family: "Bebas Neue"; 
}

.md-sidebar__scrollwrap {
  border-right: solid 1px ;
}
*/
